src/1_calculate_correlation/corr_pval_final_CD_sediment_pos_3SD_20240828_true_p0.05.csv
src/4_search_candidates/search_pubchem_mw_result_row_level_filtered_formula_示例/
src/4_search_candidates/search_pubchem_mw_result_row_level_示例/
src/4_search_candidates/search_pubchem_mw_result_示例/
src/5_annotation/Seednode_and_Targetnode_Morgan_Similarity_score_split_not_unique_Top10_示例/
src/5_annotation/Seednode_and_Targetnode_Morgan_Similarity_score_split_not_unique_示例/
src/5_annotation/Seednode_and_Targetnode_Morgan_Similarity_score_split_unique_Top10_示例/
src/5_annotation/Seednode_and_Targetnode_Morgan_Similarity_score_split_unique_示例/
src/5_annotation/Seednode_and_Targetnode_Morgan_Similarity_score_示例/

tmp/
candidates/
pubchem_database.pk
archive/